<div class="container" >
    <form novalidate #updateProfileForm="ngForm" (ngSubmit)="onSubmit(updateProfileForm)" >

      <mat-dialog-content>
       
        <div>
            <mat-form-field>
              <input class="" matInput placeholder="Email address" type="text" [(ngModel)]="user.email" name="email" #email="ngModel" email="true" required>
                <mat-error *ngIf="email.errors?.['required']">Email address is required</mat-error>
                <mat-error *ngIf="email.errors?.['email']">Please enter a valid Email</mat-error>
            </mat-form-field>
          </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Name" type="text" [(ngModel)]="user.name" name="name" #name="ngModel" minlength="3" pattern='[a-zA-Z ]*' required>
            <mat-error *ngIf="name.errors?.['required']">Name is required</mat-error>
            <mat-error *ngIf="name.errors?.['minlength']">Name must be at least 3 characters</mat-error>
            <mat-error *ngIf="name.errors?.['pattern']">Please enter a valid name</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Contact Number" type="text" [(ngModel)]="user.contanctNo" name="contanctNo" #contanctNo="ngModel" 
            pattern='(([+][(]?[0-9]{1,3}[)]?)|([(]?[0-9]{4}[)]?))\s*[)]?[-\s\.]?[(]?[0-9]{1,3}[)]?([-\s\.]?[0-9]{3})([-\s\.]?[0-9]{3,4})' maxlength="13" required>
            <mat-error *ngIf="contanctNo.errors?.['required']">Contact number is required</mat-error>
            <mat-error *ngIf="contanctNo.errors?.['pattern']">Must be in +91-XXXX-XXXXXX format</mat-error>
            <mat-error *ngIf="contanctNo.errors?.['maxlength']">Please enter a valid Contact no.</mat-error>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="updateProfileForm.form.invalid">Update</button>
      </mat-dialog-actions>
    </form>
</div>
