<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
	  <!-- <mat-drawer mode="side" opened="true"> -->
	  <app-sidenav></app-sidenav>
	</mat-drawer>
	<mat-drawer-content>
	  <app-dashboard-header (toggleSidebarForMe)="sideBarToggler()"></app-dashboard-header>
	  <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Change Password</div>
      <div class="page__content shadow p-3 position-relative">
      <div class="container center" >
        <div class="row">
          <div class="card mb-4 p-3" style="width:450px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="card-body">
        <form novalidate #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" >
  
          <mat-dialog-content>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Old Password" type="password" [(ngModel)]="change.oldPassword" name="oldPassword" #oldPassword="ngModel" required>
                  <mat-error *ngIf="oldPassword.errors?.['required']">Please Enter your current password</mat-error>
                </mat-form-field>
              </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="New Password" type="password" [(ngModel)]="change.newPassword" name="newPassword" #newPassword="ngModel" minlength="5" required>
                <mat-error *ngIf="newPassword.errors?.['required']">New Password can not be empty!</mat-error>
                <mat-error *ngIf="newPassword.errors?.['minlength']">Password must be at least 5 characters</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mb-2">
                <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="change.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required>
                <mat-error *ngIf="confirmPassword.errors?.['required']">Please confirm the password!</mat-error>
              </mat-form-field>
            </div>
          </mat-dialog-content>
          <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <div class="text-center m-auto">
            <button class="btn btn-outline-danger m-1" routerLink="/admin-profile">Cancel</button>
            <button type="submit" class="btn btn-outline-primary m-1"  [disabled]="changePasswordForm.form.invalid">Update</button>
          </div>
          </mat-dialog-actions>
        </form>
      </div>
      </div>
      </div>
  </div>
</div>
</div>
</mat-drawer-content>
</mat-drawer-container>